#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.button{
  border: 1px solid black;
  margin: 10px;
}
.file-input-container{
  display: flex;
  flex-direction: column;
}
.file-name {
  display: block;
  margin-top: 10px;
  color: #555; 
  font-size: 14px; 
}
.file-input-label{
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 10px;
}
.file-input-label:hover{
  cursor: pointer;
}
.file-input-label > p{
  margin: 0;
  ;
}
.file-input{
display: none;
}
